


@media all and (min-width:680px) and (max-width:880px) {
    
  
    div.title h1{
        font-size: 40px;
        letter-spacing: 5px;
    }
}

@media all and (min-width:550px) and (max-width:680px) {

  
    div.title h1{
        font-size: 30px;
        letter-spacing: 5px;
    }
    
}
@media all and (min-width:310px) and (max-width:550px){
   
 
    div.title h1{
        font-size: 20px;
        letter-spacing: 5px;
    }
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.banner img {
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}

.title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.title h1 {
    font-size: 6rem;
    font-weight: 400;
    text-align: left;
    line-height: 1em;
}
.LA {
    color:rgb(79, 79, 79); 
    letter-spacing: 5px;


}
.mount {
    color:rgb(53, 74, 105);
    letter-spacing: 15px;

}